.demo{
  background-color: aqua;
}
.icon{
  font-size: 50px;
  color: red;
}

.txt
{
  padding: 15px;
  width: calc(100% - 32px);
}
table
{
  border: 1px #ccc solid;

}
table tr td input[type="button"]
{
  font-size: 20px;
  height: 60px;
  width: 60px;
}